body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.calculator {
    border: 2px solid rgb(170, 107, 57);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10vh 20vw;
    height: 1000px;
    width: 700px;
    background-color: rgb(13, 12, 12);
}

.display {
    color: white;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    margin-top: 50px;
    width: 580px;
    padding: 20px;
    background-color: rgb(28, 25, 25);
    overflow: hidden;
}

.output {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 200px;
    min-height: 250px;
    margin-right: 5px;
}

.buttons {
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 70px;
    width: 144px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 5px;
}
